body {
    position: relative;
    margin: 0;
    display: grid;
    place-content: center;
    height: 100vh;
}

p {
    font-family: 'Poppins';
}


a {
    text-decoration: none;
    font-family: 'Poppins';
    color: rgb(39, 115, 246);
    border: 1px;
    transition: 1s;
    border-radius: 2%;
    padding: 1em 1.5em;
    box-shadow: 1px 1px 1px 1px rgb(165, 188, 252);
    width: 150px;
    text-align: center;
}
a:hover {
    font-family: 'Poppins';
    content: 'FlatIron';
    background-color: rgb(39, 115, 246);
    color: #ffffff;
    transition: 0.5s;
    padding: 1em 1.5em;
    border-radius: 100px 5px 50px 100px;
    text-transform: uppercase;
    box-shadow: 1px 2px 2px 1px rgb(199, 214, 253);
    width: 350px;
    
}
